.container-Card {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 5%;
  height: 500px;
  width: 320px;
  background-color: #036B52;
  border-radius: 10px;
  border: solid 7px #FFFFFF;
  box-shadow: 5px 5px 10px black;
  -webkit-box-shadow: 5px 5px 10px black;
  -moz-box-shadow: 5px 5px 10px black;
}

.header-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10%;
  width: 100%;
}

.header-Card h1 {
  display: flex;
  flex-direction: row;
  margin: 3% 0% 0% 1%;
  width: 90%;
  padding: 5px;
  font-size: 150%;
  color: #FFFFFF;
  background-color: #023031;
  border-radius: 5px;
}

.header-Card p {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: 1% 0% 0% 65%;
}

.image-Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 65%;
}

.image-Card img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  background-color: rgb(38, 168, 255);
  border-radius: 5px;
}

.image-Card p {
  height: 20px;
}

.description-Card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
}

.description-Card p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  width: 90%;
  height: 75%;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.description-Card ol {
  display: flex;
  flex-direction: row;
  margin-left: 41%;
  width: 50%;
  margin-top: none;
  border-radius: 10px;
  background-color: #023031;
  color: #FFFFFF;
  align-items: flex-start;
}

.description-Card li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20px;
}
