.container-Form {
  left: 0px;
  top: 0px;

  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #3D495C;

  width: 30%;
  background: #FAFAFA;
  margin-top: 5%;
  margin-left: 15%;
}

.container-Form h1 {
  font-family: 'Epilogue';
  font-size: 28px;
  margin-bottom: 25px;
  line-height: 29px;
  color: #444955;
}

.container-cardName {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.container-cardName input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-bottom: solid 1px;
}

.container-cardDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-cardDescription textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  border-bottom: solid 1px;
}

.container-cardAttr1 input,
.container-cardAttr2 input,
.container-cardAttr3 input {
  margin-top: 7px;
  width: 79%;
  padding: 3px;
}

.container-cardImage input {
  margin-top: 15px;
  width: 76%;
  padding: 3px;
}

.container-cardRare {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-cardRare select {
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-bottom: solid 1px;
  background-color: #FFFFFF;
}

.container-cardTrunfo {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 60%;
}

.container-cardTrunfo input {
  margin-top: 6px;
  margin-bottom: 20px;
}

.container-Form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
  margin-right: 120px;
}

.blue {
  background-color: #003BE5;
}

.grey {
  background-color: #444955;
}
