.container-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 405px;
  height: 485px;
  background-color: #2C2323;
  border-radius: 10px;
}

.title-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
  color: #FFFFFF;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  margin-top: 10px;
  color: #FFFFFF;
}

.container-cardName {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.container-cardName input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-cardDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-cardDescription textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-cardAttr1 ,
.container-cardAttr2 ,
.container-cardAttr3 {
  width: 100%;
}

.container-cardAttr1 input,
.container-cardAttr2 input,
.container-cardAttr3 input {
  margin-top: 7px;
  width: 80%;
  padding: 3px;
}

.container-cardImage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-cardImage input {
  margin-top: 5px;
  padding: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-cardRare {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-cardRare select {
  margin-top: 5px;
  padding: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-cardTrunfo {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 60%;
}

.container-cardTrunfo input {
  margin-top: 6px;
  margin-bottom: 20px;
}


.container-Form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  color: #FFFFFF;
  border-radius: 2px;
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blue {
  background-color: #6C0808;
}

.grey {
  background-color: #444955;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}