.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
  font-family: 'Baskerville';
}

.container-main h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  padding: 10px;
  width: 100%;
  background-color: #6C0808;
}

.container-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.container-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2C2323;
  height: 180px;
  border-radius: 10px;
}

.container-inputsFilts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.container-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-filter input {
  padding: 5px;
  border: none;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-searchRare {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-searchRare select {
  padding: 5px;
  border: none;
  color: #FFFFFF;
  background-color: #2C2323;
  border-bottom: solid 1px #FFFFFF;
}

.container-checkTrunfo {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 60%;
}

.container-render {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  border-radius: 10px;
  background-color: #2C2323;
  width: 40%;
  height: 700px;
}

.container-title {
  margin-left: 40px;
  font-size: 30px;
  width: 100%;
  height: 10%;
}

.container-formFilter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}

.title-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  color: #6C0808;
  width: 100%;
  margin: 50px;
}
